@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Open+Sans:wght@400;500;600&family=Inter&display=swap');

body {
    background-color: rgb(216, 216, 216);
}

.officer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}

#MeetOurBoard, #MeetOurOfficers, #Alumni {
    margin-top: 120px;
}